@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: linear-gradient(10deg, #ff0040, #ff80f4);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

#app {
  max-width: 500px;
  margin: 0 auto;
}

#scr .score {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 40px);
  -ms-transform: translate(-50%, 40px);
  transform: translate(-50%, 40px);
  font-size: 40px;
  z-index: 2;
  color: #fff;
}

.version {
  position: absolute;
  padding: 10px;
  top: 0%;
  left: 0%;
  color: #fff;
  font-size: 20px;
}
.nametitle {
  position: absolute;
  padding: 10px;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #fff;

  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}

#mainstart {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mainstart input {
  display: block;
  margin: 20px auto;
}
.btn-start,
.btn-rate {
  padding: 4vh 5vh;
  background-color: #fff;
  color: #ff00d4;
  outline: 0;
  border: 0;
  font-size: 3vh;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.btn-start:active,
.btn-rate:active {
  background-color: #ff00d4;
  color: #fff;
}
#maingame {
  display: none;
  position: relative;
  z-index: 0;
}
#maingame .buttefly {
  width: 100%;
  height: 100%;
}
#maingame .buttefly img {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 10;
  width: 100px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.5));
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  animation: fly 30s infinite alternate-reverse;
}
@keyframes fly {
  0% {
    top: 40%;
    left: 50%;
  }

  25% {
    top: 60%;
    left: 70%;
  }

  50% {
    top: 80%;
    left: 50%;
  }

  70% {
    top: 50%;
    left: 30%;
  }

  80% {
    top: 45%;
    left: 50%;
  }

  90% {
    top: 65%;
    left: 70%;
  }
}
.list-money {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 3;
}
.list-money .lmoney {
  width: 50px;
  height: 50px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s linear;
  z-index: 3;
}
.list-money .lmoney img {
  width: 100%;
  height: 100%;
}
.list-money .lmoney.shadow img {
  filter: drop-shadow(0px 1.5px 0px rgba(0, 0, 0, 0.8));
}
.list-money .lmoney:active {
  transform: scale(1.3);
}
.list-money .lmoney.active {
  transform: translateY(30%);
}
.bowl {
  width: 100%;
  height: 100%;
  background-image: url("./img/bowl.png");
  background-size: 100% 100%;
  margin: 5px auto;
  position: absolute;
  top: 0%;
  left: 100%;
  transform: scale(1);
  z-index: 1;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.bowl.close {
  top: -10px;
  left: 0px;
  transform: scale(1.08);
  cursor: pointer;
  animation: shake 1s ease;
}
@keyframes shake {
  10%,
  90% {
    transform: scale(1.08) translate3d(-1.5px, 0, 0);
  }
  20%,
  80% {
    transform: scale(1.08) translate3d(3px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: scale(1.08) translate3d(-6px, 0, 0);
  }
  40%,
  60% {
    transform: scale(1.08) translate3d(6px, 0, 0);
  }
}
.plate {
  width: 70%;
  height: 140px;
  max-width: 400px;
  background-image: url("./img/disk.png");
  background-size: 100% 100%;
  margin: 5px auto;
  position: relative;
}

.wrapper-plate {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.plate .pitem {
  width: 60px;
  height: 60px;
  z-index: 1;
  border-radius: 8px;
  margin: 3px;
}
.plate .pitem img {
  width: 100%;
  height: 100%;
}
.wrapflex {
  display: flex;
  justify-content: center;
}
.wrapflex:first-child .pitem {
  margin-top: 20px;
}
.wrapflex:last-child .pitem {
  margin-top: -25px;
}
.total {
  width: 50%;
  max-width: 500px;
  height: 40px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  border: 3px solid orange;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changeborder 4s infinite alternate-reverse;
}
@keyframes changeborder {
  25% {
    border: 3px solid orange;
  }
  50% {
    border: 3px solid red;
  }
  75% {
    border: 3px solid rgb(255, 0, 170);
  }
  95% {
    border: 3px solid rgb(115, 0, 255);
  }
}
.place_a_bet {
  display: flex;
  flex-direction: column;
}
.place_a_bet .column {
  width: 100%;
  display: flex;
}
.place_a_bet .column div {
  width: calc(100% / 3);
  height: 100px;
  margin: 3px;
  cursor: pointer;
  position: relative;
}
.place_a_bet .column div.success img {
  border: 5px solid #51ff00;
}
.place_a_bet .column div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.place_a_bet .column div img.success {
  border: 5px solid #fcff3b;
  box-shadow: 0 0 10px 10px #ffa604;
}
.place_a_bet .column div .lcoin {
  position: absolute;
  top: 0px;
  left: 0px;
}
.place_a_bet .column div .lcoin img {
  width: 50px;
  height: 50px;
}
.wrapper-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: none;
}
.wrapper-modal.show,
.wrapper-modal .modal.show {
  display: block;
}
.wrapper-modal .modal {
  width: 90%;
  max-width: 500px;
  padding: 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 15px -3px #00000066, 0 4px 6px -2px #00000069;
  border-radius: 6px;
  display: none;
}
.wrapper-modal .modal .modal-body {
  font-size: 25px;
}
.wrapper-modal .modal .modal-footer {
  display: block;
  text-align: center;
  margin: 10px auto;
}
.wrapper-modal .modal .modal-footer button {
  background-color: #ff03ea;
  color: #fff;
  padding: 12px 15px;
  border-radius: 6px;
  margin: 0 10px;
}
.place_a_bet.result img:not(.success) {
  filter: brightness(75%);
}
@media only screen and (min-height: 568px) {
  .plate {
    width: 80%;
    height: 180px;
    margin: 20px auto;
  }
  .plate .pitem {
    width: 80px;
    height: 80px;
  }
  .place_a_bet {
    margin: 20px auto;
  }
  .place_a_bet .column div {
    width: calc(100% / 3);
    height: 105px;
  }
}

@media only screen and (min-height: 640px) {
  .list-money {
    padding-top: 10px;
  }
  .plate {
    width: 80%;
    height: 200px;
    margin: 20px auto;
  }
  .plate .pitem {
    width: 95px;
    height: 95px;
  }
  .place_a_bet {
    margin: 20px auto;
  }
}

@media only screen and (min-height: 667px) {
  .plate {
    width: 85%;
    height: 220px;
    margin: 20px auto;
  }
  .plate .pitem {
    width: 95px;
    height: 95px;
  }
  .place_a_bet {
    margin: 20px auto;
  }
  .place_a_bet .column div {
    width: calc(100% / 3);
    height: 130px;
  }
}

@media only screen and (min-height: 736px) {
  .plate {
    width: 85%;
    height: 250px;
    margin: 20px auto;
  }
  .plate .pitem {
    width: 100px;
    height: 100px;
  }
  .place_a_bet .column div {
    width: calc(100% / 3);
    height: 140px;
  }
  .place_a_bet {
    margin: 30px auto;
  }
}

@media only screen and (min-height: 812px) {
  .list-money .lmoney {
    width: 60px;
    height: 60px;
  }
  .plate {
    width: 90%;
    height: 270px;
    margin: 20px auto;
  }
  .plate .pitem {
    width: 110px;
    height: 110px;
  }
  .place_a_bet {
    margin: 70px auto;
  }
  .wrapper-modal .modal .modal-footer button {
    background-color: #ff03ea;
    color: #fff;
    padding: 12px 16px;
    border-radius: 6px;
    margin: 0 10px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 540px) and (min-height: 720px) {
  .place_a_bet .column div {
    width: calc(100% / 3);
    height: 150px;
  }
}

@media only screen and (min-width: 912px) and (min-height: 1368px) {
  .plate {
    width: 90% !important;
    height: 500px !important;
  }
  .place_a_bet .column div {
    width: calc(100% / 3) !important;
    height: 300px !important;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .list-money .lmoney {
    width: 90px;
    height: 90px;
  }
  .plate {
    width: 90%;
    height: 350px;
    max-width: 700px;
    margin: 20px auto;
  }
  .plate .pitem {
    width: 170px;
    height: 170px;
  }
  .place_a_bet {
    margin: 50px auto;
  }
  .place_a_bet .column div {
    width: calc(100% / 3);
    height: 200px;
  }
  .wrapper-modal .modal .modal-body {
    font-size: 40px;
  }
  .wrapper-modal .modal .modal-footer {
    display: block;
    text-align: center;
    margin: 10px auto;
  }
  .wrapper-modal .modal .modal-footer button {
    background-color: #ff03ea;
    color: #fff;
    padding: 12px 19px;
    border-radius: 6px;
    margin: 0 10px;
    font-size: 30px;
  }
  .total {
    height: 50px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .list-money .lmoney {
    width: 140px;
    height: 140px;
  }
  .plate {
    width: 90%;
    height: 470px;
    margin: 20px auto;
  }
  .plate .pitem {
    width: 200px;
    height: 200px;
  }
  .place_a_bet {
    margin: 50px auto;
  }
  .place_a_bet .column div {
    width: calc(100% / 3);
    height: 280px;
  }
}
