/* button close window */
.monaco-workbench
  .part.titlebar
  > .window-controls-container
  > .window-icon.window-close:hover {
  background-color: deeppink;
}
/* screen */
.monaco-scrollable-element > .scrollbar > .slider,
.monaco-scrollable-element > .scrollbar > .slider.active,
.monaco-scrollable-element > .scrollbar > .slider:hover {
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    #00ff59,
    #ffae00,
    #ff092a,
    #ff0095,
    #7700ff,
    #0073ff,
    #00ffd5
  );
  background-size: 300% 300%;
  animation: gradienttt 4s linear infinite alternate;
}
/* screen vertical */
.monaco-scrollable-element > .scrollbar > .slider {
  animation: gradient 3s linear infinite alternate !important;
}

@keyframes gradienttt {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes gradientt {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/* active tab */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active.tab-border-top
  > .tab-border-top-container {
  height: 3px;
  background: linear-gradient(
    -45deg,
    #11ff00,
    #ffae00,
    #ff092a,
    #ff0095,
    #7700ff,
    #0073ff,
    #00ffd5
  );
  background-size: 400% 400%;
  animation: gradienttab 3s linear infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/* color item */
.composite-bar > div > ul > li.action-item.icon.checked > a {
  background-color: rgba(255, 255, 255, 0.08);
  font-weight: 900;
  animation: colorgradient 1.5s infinite alternate-reverse;
}

/* color active item */
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.active
  .action-label.codicon,
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item:focus
  .action-label.codicon,
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item:hover
  .action-label.codicon {
  background: linear-gradient(to right, #ff0055, #ddff00);
  -webkit-background-clip: text;
  font-size: 24px;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

@keyframes colorgradient {
  0% {
    color: #ff092a;
  }
  30% {
    color: #ff0095;
  }
  70% {
    color: #7700ff;
  }
  100% {
    color: #00e1ff;
  }
}

/* active sash */
.monaco-sash.hover:before,
.monaco-sash.active:before {
  background: linear-gradient(
    -45deg,
    #00ff59,
    #ffae00,
    #ff092a,
    #ff0095,
    #7700ff,
    #0073ff,
    #00ffd5
  ) !important;
}

.monaco-workbench .part.statusbar {
  background: linear-gradient(-45deg, #00c846, #ff7337, #ff0095, #2e00e4);
  background-size: 400% 400%;
  animation: gradienttab 60s linear infinite alternate;
}
/* custom border left active bar */
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.checked
  .active-item-indicator:before {
  width: 2px;
  background: linear-gradient(
    -45deg,
    #00ff59,
    #ffae00,
    #ff092a,
    #ff0095,
    #7700ff,
    #0073ff,
    #00ffd5
  );
  background-size: 300% 300%;
  border-left-color: transparent;
  animation: gradienttt 4s linear infinite alternate;
}

/* activate tab terminal*/
.monaco-workbench
  .part.basepanel
  > .composite.title
  > .panel-switcher-container
  > .monaco-action-bar
  .action-item.checked
  .action-label {
  color: #f09 !important;
  font-weight: 900;
}

@keyframes gradienttab {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
