* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body .text-d {
  text-align: center;
}

.text-name a{
  color: #ff0099;
  font-size: 1.4em;

}

body {
  background-color: #fff7fc;
}

.text-footer {
  margin-top: 300px;
}

.btn-success {
  background-color: #00c75a;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
}

.btn-success:hover {
  background-color: #00b350;
}

.text-danger {
  color: red;
  font-size: 2.3em;
}

.text-danger.sp {
  color: red;
  font-size: 1.9em;
  opacity: 0.8;
}

.main {
  margin: 1em;
}

.main-item {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 15px 0;
}
