* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.message {
  width: 100%;
  height: 60vh;
  border: 1px solid #e9e9e9;
  overflow-y: scroll;
}
.title {
  text-align: center;
  color: deeppink;
  font-size: 35px;
}
input[type="text"] {
  width: 90%;
  background-color: #eeeeee;
  display: block;
  margin: 0 auto;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #333333;
  font-size: 20px;
  outline: none;
  text-align: center;
}
button {
  background-color: #0554ff;
  width: 100px;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #fff;
}

.message li {
  margin: 10px;
  padding: 12px;
  display: flex;
  word-wrap: break-word;
  align-items: center;
  text-indent: 10px;
  font-size: 20px;
  border-radius: 10px;
}
.message a {
  color: red;
}
.message li.que {
  background-color: #76a1ff;
}
.message li.ans {
  background-color: #ff97e9;
}
#scroll {
  background-color: #333333;
  height: 10px;
}
.inputname span {
  text-align: center;
  display: block;
  color: #333333;
  font-size: 22px;
  padding: 10px;
}
.app span {
  text-align: center;
  display: block;
  color: #333333;
  font-size: 18px;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .app {
  display: none;
}

.inputname,
.app {
  width: 100%;
}
