* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  outline: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#maingame {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

#maingame .box {
  margin: 0.5vh;
  width: 11vh;
  height: 11vh;
  background-color: blue;
  border-radius: 30px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.box {
  cursor: pointer;
}
.box .front {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("./img/tiendatmagic.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box .back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: none;
}

#mainstart {
  text-align: center;
}

.btn-start {
  position: absolute;
  top: 40%;
  left: 35%;
  padding: 5vw;
  background-color: rgb(41, 255, 58);
  outline: 0;
  border: 0;
  font-size: 5vw;
  border-radius: 36%;
}

#scr {
  margin-bottom: 12vh;
}

#scr .time {
  position: absolute;
  top: 4vh;
  font-size: 3vh;
}

#scr .fasttime {
  display: inline-block;
  position: absolute;
  top: 8vh;
  font-size: 3vh;
}

.btn-end {
  display: block;
  position: absolute;
  top: 3.8vh;
  right: 0;
  padding: 2vh;
  background-color: red;
  border: 0;
  border-radius: 20%;
  font-size: 2vh;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.09);
}

.modal-content {
  position: absolute;
  width: 80%;
  height: 60vh;
  background-color: rgba(24, 24, 24, 0.7);
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  left: 10%;
}

.btn-reload {
  padding: 4vh;
  font-size: 3vh;
  border-radius: 20%;
  background-color: rgb(71, 255, 47);
}

h2.time {
  font-size: 7vh;
  margin-top: 20vh;
  color: deeppink;
}
@media only screen and (min-width: 800px) {
  #maingame .box {
    width: 13vh;
    height: 13vh;
  }
}

@media only screen and (min-width: 1000px) {
  #maingame .box {
    width: 16vh;
    height: 16vh;
  }
}
