@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #ffe7f5;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

#scr .score {
  position: absolute;
  top: 55px;
  left: 50%;
  font-size: 40px;
  z-index: 2;
  color: #fff;
}

.nametitle {
  position: absolute;
  padding: 10px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: deeppink;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, deeppink, #1000a5);
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}
@supports (-webkit-background-clip: text) {
  .nametitle {
    color: transparent;
    background-image: linear-gradient(to right, deeppink, #1000a5);
    -webkit-background-clip: text;
  }
}

#mainstart {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-start {
  padding: 4vh;
  background-color: #fff;
  outline: 0;
  border: 0;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-start:active {
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px grey;
}

#maingame {
  display: none;
  position: relative;
  z-index: 0;
}
.line {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7px;
  background-color: rgb(225, 0, 255);
  box-shadow: 0px 0px 2px #000;
  width: 100%;
}
#main {
  width: 100%;
  height: 60vh;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;
}

#main span {
  font-size: 17vw;
  color: #fff;
  position: relative;
  z-index: 1;
}

#truefalse {
  display: flex;
  cursor: pointer;
  z-index: 1;
}

#truefalse div {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  font-size: 12vh;
  z-index: 1;
}
#truefalse div:active {
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px grey;
}
#truefalse .true {
  background-color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  color: #0099ff;
  margin: 5px;
}

#truefalse .false {
  background-color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  color: red;
  margin: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal-content {
  position: absolute;
  width: 80%;
  height: 60vh;
  background-color: rgba(24, 24, 24, 0.7);
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md {
  text-align: center;
}

h2.score,
h2.highscore {
  font-size: 5vh;
  margin-top: 10px;
  color: deeppink;
}

.btn-reload {
  padding: 4vh;
  font-size: 3vh;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.btn-reload:active {
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px grey;
}

@media screen and (max-width: 500px) {
  #main span {
    font-size: 20vw;
  }
}
