* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    border: 0;


}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	background-color: rgb(244, 233, 255);
}

.start {
	background-color: rgb(79, 255, 62);
	border-radius: 15px;
	outline: none;
	border: none;
	justify-content: center;
	cursor: pointer;
	display: flex;
	margin: auto;
	margin-top: 36vh;
	padding: 6vh;
	font-size: 3.3vh;
}

#mg {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#mg div {
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	background-color: rgb(114, 111, 255);
	margin: 20px;
	border-radius: 20%;
	word-break: break-all;
}

#mg div:hover {
	background-color: rgb(209, 111, 255);
}

#mg p {
	font-size: 2.6vw;
}

.g-main {
	display: none;
}

.round-game {
	width: 80%;
	background-color: rgb(114, 111, 255);
	position: relative;
	margin: 0 auto;
	height: 87vh;
	border: 1px solid black;
	display: flex;
	align-items: center;
}

#selectmoney {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}

#selectmoney div {
	width: 160px;
	height: 160px;
	background-color: rgb(114, 111, 255);
	margin: 10px;
	border-radius: 20%;
	font-size: 20px;
}

#selectmoney div:hover,
#ruongmayman div:hover #baucua div:hover {
	background-color: rgb(209, 111, 255);
}

#selectmoney span,
#baucua span {
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	margin-left: 40%;
}

#ruongmayman {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}

#ruongmayman div {
	width: 160px;
	height: 160px;
	background-color: rgb(114, 111, 255);
	margin: 10px;
	border-radius: 20%;
	font-size: 20px;
}

#baucuaa {
	display: none;
}

#baucua {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#baucua div {
	width: 20vw;
	height: 10vw;
	background-color: rgb(114, 111, 255);
	margin: 10px;
	border-radius: 50%;
	font-size: 20px;
}

.bc span {
	font-size: 3vw;
}

#baucua .naphop {
	display: flex;
	width: 100%;
	height: 200px;
	background-color: rgba(43, 255, 0, 0.842);
	margin: 10px;
	font-size: 20px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#dcc {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#dcc div {
	width: 14vw;
	height: 5vh;
	background-color: rgb(114, 111, 255);
	margin-left: 5vw;
	border-radius: 10%;
	font-size: 2vh;
}

#dcc span {
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
}

.bdmain {
	background-color: rgb(79, 255, 62);
	border-radius: 15px;
	outline: none;
	border: none;
	justify-content: center;
	cursor: pointer;
	display: flex;
	margin: auto;
	margin-top: 36vh;
	padding: 2vh;
	font-size: 3.3vh;
	z-index: 10;
}

.player1,
.player2 {
	width: 300px;
	height: 200px;
    /* z-index: -1; */;
}

.player1 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.player1 .card, .player2 .card {
	height: 9vh;
}

.player2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
}

.card {
	display: none;
}

.status {
	display: none;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
}

.xd {
	display: none;
	background-color: rgb(79, 255, 62);
	padding: 5px;
	border-radius: 8px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

.dcc {
	display: flex;
}

.naphop img {
	margin-left: 10px;
}

.back {
	padding: 2vh;
    background-color: greenyellow;
    border-radius: 50%;
	position: relative;
	top: 2.2vh;
	font-size: 2vh;

}

.footer {

	width: 100%;
	height: 100%;
	margin-top: 40vh;
}

.footer h4 {
    font-size: 2vh;
    text-align: center;
}

/**/


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(24, 24, 24, 0.8);
	z-index: 999;

}

.modal-content {
    position: absolute;
    width: 70%;
    height: 60vh;
    background-color: rgba(24, 24, 24, 0.8);
    margin: 0 auto;
    margin-top: 20vh;
    text-align: center;
    left: 15%;
}

.md {

	
    text-align: center; 
}
.md-nd {
margin-top: 15vh;
color: red;
font-size: 6vh;
}
.btn-reload {
    padding: 4vh;
    font-size: 3vh;
    border-radius: 20%;
	background-color: rgb(71, 255, 47);
	margin-top: 15vh;
}
@media only screen and (max-width:900px) {
	#allbc {
		margin-top: 15vh;
	}
}

@media only screen and (min-width:1024px) {

	
	.player1,
	.player2 {
		height: 35vh;
	}

	.player1 .card, .player2 .card {
		height: 13vh;
	}

	#mg p {
		font-size: 26px;
	}
	
}

@media only screen and (max-width:450px) {


	.naphop img {
		width: 70px;
	}
}

@media only screen and (max-width:300px) {


	.naphop img {
		width: 50px;
		height: 70px;
	}

	#mg div {
		width: 50%;
		height: 60px;
		line-height: 60px;
	}
}

@media only screen and (max-width:720px) {
	#mg div {
		width: 170px;
		height: 200px;
	}

	#selectmoney div {
		width: 30%;
		height: 130px;
		background-color: rgb(114, 111, 255);
		margin: 10px;
		border-radius: 20%;
		font-size: 20px;
	}
}

@media only screen and (max-width:630px) {
	#mg div {
		width: 120px;
		height: 160px;
		line-height: 160px;
	}

	#selectmoney div {
		width: 130px;
		height: 160px;
	}
}

@media only screen and (max-width:480px) {
	#mg div {
		width: 120px;
		height: 130px;
		line-height: 130px;
	}

	#selectmoney div {
		width: 100px;
		height: 160px;
	}

	#selectmoney span {
		margin-left: 30%;
	}
}

@media only screen and (max-width:360px) {
	#selectmoney div {
		width: 70px;
		height: 110px;
	}

	.naphop img {
		width: 65px;
		height: 85px;
	}
}

@media only screen and (max-width:320px) {
	#mg div {
		width: 100px;
		height: 23vh;
		line-height: 23vh;
	}

	.player1 .card, .player2 .card {
		height: 13vh;
	}
}

@media only screen and (max-width:280px) {
	.naphop img {
		width: 45px;
		height: 65px;
	}
}