#displaybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.box {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 7px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
