@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fbfbfb;
}
.boxinput {
  width: 100%;
  max-width: 500px;
  display: flex;
  margin: 20px auto;
  padding: 10px;
}
.boxinput input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 8px 0px 0px 8px;
  text-indent: 20px;
  font-size: 17px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.05);
}
.boxinput button {
  width: 100px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background-color: #cc5fff;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

#displaybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 220px;
  height: 220px;
  margin: 25px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  transform: translateY(0px);
  box-shadow: 0px 0px 51px 0px rgb(0 0 0 / 8%), 0px 6px 18px 0px rgb(0 0 0 / 5%);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.box:hover {
  box-shadow: 0px 0px 51px 0px rgb(0 0 0 / 8%),
    0px 6px 18px 0px rgb(0 0 0 / 10%);
  transform: translateY(-5px);
}
@media screen and (max-width: 730px) {
  .box {
    width: 180px;
    height: 180px;
    margin: 10px;
  }
}

@media screen and (max-width: 400px) {
  .box {
    width: 270px;
    height: 270px;
    margin: 10px;
  }
  .boxinput {
    margin: 8px auto;
  }
  .boxinput input {
    text-indent: 7px;
  }
}
