.smauchu,
.smauvien,
.smauttho {
  display: grid;
  grid-template-columns: 105px 105px 105px;
  padding: 10px;
}

.smauchu-item,
.smauvien-item,
.smauttho-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  padding: 30px;
  font-size: 20px;
  text-align: center;
}

#kichthuocchu {
  text-align: center;
}

.smdo,
.smdoo,
.smdooo {
  background-color: red;
}

.smvang,
.smvangg,
.smvanggg {
  background-color: yellow;
}

.smxanhla,
.smxanhlaa,
.smxanhlaaa {
  background-color: green;
}

.smxanhduong,
.smxanhduongg,
.smxanhduonggg {
  background-color: blue;
}

.smhong,
.smhongg,
.smhonggg {
  background-color: deeppink;
}

.smden,
.smdenn,
.smdennn {
  background-color: black;
  color: white;
}