* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #fbfbfb;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 600px;
}

.coin {
  display: flex;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  margin: 38px 0;
  font-family: "Mukta", sans-serif;
}

.coin .coin-logo {
  width: 100px;
  height: 100%;
  display: grid;
  place-items: center;
}

/* .coin .coin-logo img {
  width: 70%;
  height: 70%;
} */
.coin .coin-name {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.coin .coin-name h3 {
  color: #000;
  font-size: 28px;
  text-transform: uppercase;
}

.coin .coin-name span {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0 0 2px;
}

.coin .coin-price {
  display: grid;
  align-items: center;
  margin-left: auto;
  padding: 8px 22px 0 0;
  text-align: right;
}

.coin .coin-price .price {
  font-size: 26px;
  font-weight: 700;
  margin-top: -6px;
}

.coin .coin-price .change {
  color: #aaa;
  font-size: 16px;
  font-weight: 600;
  margin-top: -30px;
}

.coin.rising {
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 3%), 0px 6px 18px 0px rgb(0 0 0 / 5%);
}

.coin.rising .coin-price .price {
  color: #30ff20;
}

.coin.falling {
  background: linear-gradient(90deg, #202022, #aa444425);
}

.coin.falling .coin-price .price {
  color: #ff4040;
}
